*{
    text-decoration: none;
    padding: 0;
    margin: 0;
}
h1{
    color: white;
    margin-bottom: 5px;
}

body{
    background: purple;
}
hr{
    border-bottom: 10px solid black;
    justify-content: center;
    margin-left: 40%;
    margin-right: 40%;
}
h1{
    margin: 40px;
    text-align: center;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.table{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.tab{
    border: 3px solid black;
    border-radius: 20px;
    min-height: 70vh;
    margin: 10px;
    background: #fff;
    text-align: center;
}
.tab h2{
    margin: px;
    padding: 30px;
    color: purple;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
.tab p{
    margin: px;
    font-size: 20px;
    font-weight: 400px;
}
button{
    background-color: purple;
    color:#fff;
    padding: 15px;
    border-radius: 6px;
    text-decoration:none;
    margin-top:20px;
    border: none;
    margin-bottom: 15px;
}

.content{
padding-top: 35px;
}
i{
    font-size: 30px;
}
.footer{
    background-color: #fff;
    padding: 32px 5%;
}
.footer-container{
    max-width: 1150px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 20px;
}
.footer-brand h2{
    font-size: 28px;
    color:black;
    margin-bottom: 5px;
}
.footer-brand h2 span{
    color: purple;
}
.footer-brand{
    font-size: 14px;
    color: black;
}
.footer-divider{
    width: 3px;
    height: 80px;
    background-color: black;
}
.footer description p{
    color:black;
    font-size: 16px;
    line-height: 1.6;
}
.footer-social h3{
    font-size: 18px;
    color: purple;
    margin-bottom: 15px;
}
.social-icons{
    display: flex;
    gap: 20px;
}
.social-icons a{
    width: 38px;
    height: 38px;
    background-color: purple;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 30px;
    font-size: 10px;
    transition: 0.3s;
}
.social-icons{
    transform: translateY(-3px);
}
@media (max-width:800px){
    .footer-container{
        flex-direction: column;
        text-align: center;
    }
    .footer-divider{
        width: 80px;
        height: 1px;
    }
    .social-icons{
        justify-content: center;
    }
}

